{% extends 'base.html' %}

    {% block title %} Home {% endblock title %} 

    {% block message %}
    
        {% if messages %}
        <div x-data="{ visible: true }" x-init="setTimeout(() => { visible = false }, 3000)">
            <div class="alert alert-success" role="alert" x-show="visible">
                {% for message in messages %}
                <p class="text-center">{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    
    {%endblock%}

    {% block content %}
        <div class="container">

        <form class="d-flex col-lg-6 mx-auto" role="search" action="{% url 'index' %}">
            {{ search_form }}
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        {% if search_q %}
        
            <div class="my-2">
                <p>Search results for: '<span class="text-success">{{ search_q }}'</span></p>
            </div>

        {% endif %}
        

        

        <div class="my-4 row row-cols-1 row-cols-md-2 g-4">

        {% if posts %}

            {% for post in posts  %}

            <div class="col">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4">
                            {% if post.post_image %}
                                <img src="{{ post.post_image.url }}" alt="{{ post.title }}" class="img-fluid rounded-start">
                            {% else %}
                                <img src="https://placehold.co/640x960/333/FFFFFF/png?text={{ post.title}}" alt="{{ post.title }}" class="img-fluid rounded-start">
                            
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% url 'show_post' post.id %}" class="text-dark text-decoration-none">
                                        {{ post.title }}
                                    </a>
                                </h5>
                                <p class="card-text text-success"><span class="badge bg-success block">{{ post.category.name }} </span> | @{{ post.user.username }}</p>
                                <p class="card-text">{{ post.body|slice:":100" }} ...</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            {% endfor %}

        {% else %}

                <p>No post found</p>

        {% endif %}

        </div>

        

        <div class="my-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if posts.has_previous %}
                        <li class="page-item"><a class="page-link text-dark" href="{{ page_link }}1">&laquo; First</a></li>
                        <li class="page-item"><a class="page-link text-dark" a href="{{ page_link }}{{ posts.previous_page_number }}">Previous</a></li>
                    {% endif %}

                    {% if posts %}
                        <li class="page-item"><span class="page-link text-success fw-bold">{{posts.number}}</span></li>
                    {% endif %}

                    {% if posts.has_next %}
                        <li class="page-item"><a class="page-link text-dark" a href="{{ page_link }}{{ posts.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link text-dark" href="{{ page_link }}{{ posts.paginator.num_pages }}">Last &raquo;</a></li>
                    {% endif %}
                </ul>
              </nav>
        </div>

        </div>

    {% endblock %}


